%div.create_top Create Article
%table.left_margin
  %tr
    %th.form_name TITLE AREA
    %th
      %input.title_form{ :type => "text", :name => "title" }
  %tr
    %th.form_name TEXT AREA
    %th{ :rowspan => 3 }
      %textarea.text_form{ :type => "text", :name => "text", }
  %tr
    %th
      %button{ :type => "button" } CREATE
  %tr
    %th
      %button{ :type => "button" } CANCEL
