!!!
%html
%head
  %title Article app
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true

%body
  %div.top ARTICLE 
  
  %div.side_menu
    %tr
      %th
        %a{:href =>"http://52.69.172.89:3000/articles"} Create Article
    %tr
      %th
        %a{:href =>"http://52.69.172.89:3000/articles/edit"} Edit Article
  %div.main
    =yield

%p aaa


